#fileDropRef {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
    margin-top: -3px;
  }


  .border-dashed {
    border: 1.5px dashed #7A7A7A;
    border-radius: 6px;
    background: #FFF;
  }

  .link {
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x:hidden
}

/* .name.sub-text {
    font-size: 10px;
    color:#D64E49;
} */